body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f6fa;
  color: #333;
}

header {
  background-color: #005f99;
  color: white;
  text-align: center;
  padding: 20px;
}

section{
    background-color: rgb(202, 202, 202);
    text-align: center;
    width: 80%;
    padding: 20px;
    font-size: 1.25em;
    color: white;
    margin: auto;
    margin-top: 50px;
}